_METS/*
_OCR/*
__pycache__/*
build/*
dist/*
*.egg-info
.DS_Store
.vscode/*
*.log
*~
jet_err_*
src/__pycache__/
cache/ids_of_generated_mets.txt
ids_of_generated_mets.txt
.gitignore
cache/newspaperdata.pkl
nohup.out
custom/
misc/hOCR2ALTO_saxonc.py
misc/bsb_newspapers*
iiimets/__pycache__/__init__.cpython-310.pyc
iiimets/__pycache__/iiif_conversion.cpython-310.pyc
iiimets/__pycache__/iiif_harvesting.cpython-310.pyc
